.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  position: absolute;
  inset: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
